@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: black;
  font-size: 0.8rem;
  width: 13%;
  margin-left: auto;
  margin-top: 0.8rem;
}

.main-nav a {
  text-decoration: none;
  color: black;
}

.appslogo {
  height: 1.2rem;
}

.search-main {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.homepage-image img{
  width: 15rem;
}

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 0.1rem solid #E4E4E4;
  border-radius: 3rem;
  height: 2.8rem;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

.search-box:hover {
  box-shadow: 1px 1px 0px 2px rgba(240,223,223,0.88);
}
.searchsvg {
  width: 1rem;
}

.recordsvg {
  width: 1rem;
}

.my-input {
  width: 23rem;
  height: 2rem;
  align-self: center;
  border: none;
  outline: none;
}

.search-box-btn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
}

.search-box-btn p {
  background-color: #DADADA 0.5;
  margin-left: 2rem;
  padding: 0.4rem;
}

.search-box-btn p:hover {
  background-color: white;
  box-shadow: 1px 1px 0px 2px rgba(240,223,223,0.88);
}

.text-below-search {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.text-below-search a, p{
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 0.8rem;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 6rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #8E8E8E;
  background: #EFEFEF;
}

.footer a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  color: #8E8E8E;
}
.nigeria {
  border-bottom: 0.1rem solid #BEBEBE;
  margin-left: 0.7rem;
  padding: 0.2rem;
  font-size: 0.9rem;
  align-items:  center;
}

.carbon {
  /*margin-top: 0.6rem;
  margin-right: auto;
  margin-left: auto;*/
  font-size: 0.8rem;
}

.carbon img {
  width: 0.8rem;
  margin-right: 0.2rem;
}
.the-footer {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.ul-left a {
  margin-left: 2rem;
}

.ul-right a {
  margin-left: 2rem;
}